<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SynthIRC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsApplication2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SynthIRC.Properties.Settings>
            <setting name="Nick" serializeAs="String">
                <value>Lamer4628374</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>gogo</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>irc.gts.cz</value>
            </setting>
            <setting name="Mail" serializeAs="String">
                <value>anonymous@anonymous.com</value>
            </setting>
            <setting name="Channels" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>#linux</string>
                        <string>#chess</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="PreferredVoice" serializeAs="String">
                <value>ScanSoft Zuzana_Full_22kHz</value>
            </setting>
            <setting name="AutoRead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipMotd" serializeAs="String">
                <value>False</value>
            </setting>
        </SynthIRC.Properties.Settings>
        <WindowsApplication2.Properties.Settings>
            <setting name="Nick" serializeAs="String">
                <value>vojta123456</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>lamer</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>irc.gts.cz</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="Mail" serializeAs="String">
                <value>anonymous@anonymous.com</value>
            </setting>
            <setting name="Channels" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>#linux</string>
                        <string>#chess</string>
                    </ArrayOfString>
                </value>
            </setting>
        </WindowsApplication2.Properties.Settings>
    </userSettings>
</configuration>